node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Next.js
/.next/
/out/

# Production
/build

# Misc
.env*.local
.vercel
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Documentation
design_guidelines.md